<header class="row custom-container">
  <div class="row row-container">
    <div class="col-md-8">
      <p class="mb-1 primary-text-header">
        Anais do Simpósio Latino Americano de Ciências de Alimentos
      </p>
      <h6 class="h6 mb-1 title-header">
        Anais do 13º Simpósio Latino Americano de Ciência de Alimentos
      </h6>
      <p class="mb-1 subtitle-header">ISSN: 1234-5678</p>
    </div>

    <div class="col-md-4 d-flex align-items-center justify-content-center">
      <button class="btn-outline-secondary">
        <img
          class="img-fluid"
          src="../../../assets/language image.png"
          alt="Language"
        />
        <span class="ml-2 text-button-language">PT , BR </span>
        <img class="ml-2" src="../../../assets/dropdown.png" alt="Dropdown" />
      </button>

      <div class="ml-1 user-info">
        <p class="mb-0 text-msg-login">Bem vindo!</p>
        <p class="mb-1 user-info-email">alguem12@galoascience.com</p>
      </div>

      <div class="mb-0 d-flex">
        <img
          class="user-image"
          src="../../../assets/ImagemPerfil.png"
          alt="User Image"
        />
        <img
          class="mb-2 user-notification-image"
          src="../../../assets/notification badge.svg"
          alt="Notification Badge"
        />
      </div>
    </div>
  </div>
</header>
