.custom-container {
  background-color: #fdf1eb;
  margin-left: 219px;
  width: auto;
}

.row {
  --bs-gutter-x: 0rem;
}

.primary-text-header {
  width: auto;
  color: #725c5c;
  margin-top: 5px;
  margin-left: 36px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 16.41px;
}

.title-header {
  margin-left: 36px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 22px;
  line-height: 25.78px;
  color: #725c5c;
}

.subtitle-header {
  margin-left: 36px;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #725c5c;
}

.btn-outline-secondary{
  width: 97px;
  height: 34px;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  background-color: transparent;
}

.img-fluid {
  margin-bottom: 4px;
  gap: 1px;
  margin-top: 1px;
}

.text-button-language{
  font-family: 'Quicksand';
  font-weight: 400;
  font-size: 14px;
  line-height: 17.5px;
}

.user-info {
  margin-left: 30px;
}

.text-msg-login {
  text-align: end;
  font-family: 'Quicksand';
  font-weight: 400;
  font-size: 14px;
  line-height: 17.5px;
  color: #333333;
}

.user-info-email {
  margin-left: 55px;
  font-family: 'Quicksand';
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
}

.user-image {
  margin-left: 8px;
  width: 30.3px;
  height: 30.63px;
  border: 1px solid transparent;
  position: relative;
  justify-content: end;
  align-items: end;
  align-self: flex-end;
}

.user-notification-image {
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background-color: red;
  position: absolute;
  top: 1;
  margin-left: 30px;
}
