<div class="container-full container-content d-flex">
  <h2 class="h2 col-md-0 title-container">
    Análise sensorial de preparações funcionais desenvolvidas para escolares
    entre 09 e 15 anos, do município de Campinas/SP
  </h2>

  <div class="raw raw-button-right d-flex">
    <button class="btn-download d-flex">
      <img
        src="../../../assets/download.png"
        class="download-img-btn"
        alt="Download Icon"
      />
      <p class="text-button-download">Download</p>
    </button>
    <button class="btn-favorite-star">
      <img src="../../../assets/favoritar.png" class="favorite-img-btn" />
    </button>
    <button class="btn-doi">
      <img src="../../../assets/doi.png" class="favorite-img-btn" />
    </button>
  </div>
</div>
<div class="raw container-below-btn">
  <p class="text-below-btn">COMO CITAR ESSE TRABALHO?</p>
</div>

<div class="container-content div-below-btn d-flex">
  <div class="container-fluid div-img">
    <img src="../../../assets/vídeo apresentação.png" class=" img-fluid img-video" />
  </div>

  <div class="flex-container div-card-box">
  <div class="card card-box">
    <div class="raw div-title-card">
      <h4 class="h4 title-box-right">Detalhes</h4>
    </div>
    <div class="raw card-content-text">
      <p class="text text-card">
        Tipo de Apresentação: <strong>Pôster</strong> Eixo temático:
        <strong> Alimentação e saúde (AS) </strong> <br />
        Palavras-chaves:
        <strong> Alimentos funcionais, alimentação escolar. </strong>

        <br />
        <strong>Autores:</strong> <br />
        Galileo Galilei<sup>1</sup> <br />
        Berta Lange de Morretes<sup>2</sup><br />
        Isaac Newton<sup>3</sup> <br />
        Cesar Lattes<sup>1</sup> <br />
        Stephen Hawking<sup>4</sup> <br />
      </p>
      <p class="text refeerences-text-card">
        <sup>1</sup>Universidade Estadual de Campinas <br />
        <sup>2</sup>Universidade de São Paulo<br />
        <sup>3</sup>Instituto Nacional de Pesquisas Espaciais<br />
        <sup>4</sup>Universidade Federal do Rio de Janeiro<br />
        <sup>5</sup>Ipson Lorem IpsonLorem<br />
        <sup>6</sup>Universidade Cruzeiro do Sul<br />
      </p>
    </div>
    </div>
  </div>
</div>
