<div class="container-fluid container-sidebar fixed-top">
  <div class="col-md-12 container-top-title">
      <h2 class="title-sidebar">SLACA 2019</h2>


    </div>
    <img class="img-fluid img-sidebar" src="../../../assets/dewey 4.png" />

  <div class="col-lg-4 init-side-bar">
    <!-- Barra Lateral -->
    <nav class="col-md col-md-12 d-md-block sidebar nav-sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active text-sidebar-link" href="#">
              Apresentação
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-sidebar-link" href="#"> Comitês </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-sidebar-link" href="#"> Autores </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-sidebar-link" href="#"> Eixos temáticos </a>
          </li>
          <li class="nav-item" style="background-color: #fdf1eb">
            <div class="section-bg-selected-a">
              <a class="nav-link text-sidebar-selected" href="#"> Trabalhos </a>
            </div>
          </li>
          <li class="nav-item bg-color">
            <a
              class="nav-link border-top 2px solid #e7e7e7 text-sidebar-link"
              href="#"
            >
              Contato
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
