<div class="container-content topic-container">
  <div class="card card-topic">
    <h4 class="h4 title-card-topic">Discussões</h4>
  </div>
  <div class="raw card-topic-content">
    <h6 class="h6 card-topic-content-title">
      Compartilhe suas ideias ou dúvidas com os autores!
    </h6>
  </div>
  <div class="raw raw-topic-img">
    <img class="img-fluid card-topic-img" src="../../../assets/icone1.png" />
    <img class="img-fluid card-topic-img" src="../../../assets/icone2.png" />
    <img class="img-fluid card-topic-img" src="../../../assets/icone3.png" />
  </div>
  <div class="raw raw-bellow-img">
    <p class="p text-bellow-img">
      Sabia que o maior estímulo no desenvolvimento científico e cultural é a
      curiosidade? <br />
      Deixe seus questionamentos ou sugestões para o autor!
    </p>
  </div>
  <div class="raw card-btn-topic">
    <button class="button btn-topic d-flex">
      <img class="img img-btn-add" src="../../../assets/icon - criar.png" />
      <p class="p text-btn-topic">criar tópico</p>
    </button>
  </div>
  <div class="card card-comment">
    <h6 class="h6 subject-card-comment">Assunto da pergunta aparece aqui</h6>
    <p class="p name-card-comment">Hector de Oliveira</p>

    <div class="raw ml-auto raw-text-comment">
      <p class="p text-content-comment-card">
        Comecinho da pergunta aparece aqui resente relato inscreve-se no campo
        da análise da dimensão e impacto de processo formativo situado impacto
        de processo formativo processo...Comecinho da pergunta aparece aqui
        resente relato inscreve-se no campo da análise da dimensão e impacto de
        processo formativo situado impacto de processo formativo processo...
      </p>
    </div>
    <div class="raw d-flex raw-footer-comments">
      <button class="button btn-more-info">
        <img
          class="img-fluid img-more-info"
          src="../../../assets/mais informações.png"
        />
      </button>
      <button class="button btn-like-comments">
        <img
          class="img-fluid like-btn-comments"
          src="../../../assets/green apples 22.png"
        />
      </button>
      <p class="p number-likes-comments">1 like</p>
      <p class="p number-likes-comments">1 resposta</p>
    </div>
  </div>
  <div class="card card-comment">
    <h6 class="h6 subject-card-comment">Assunto da pergunta aparece aqui</h6>
    <p class="p name-card-comment">Hector de Oliveira</p>

    <div class="raw ml-auto raw-text-comment">
      <p class="p text-content-comment-card">
        Comecinho da pergunta aparece aqui resente relato inscreve-se no campo
        da análise da dimensão e impacto de processo formativo situado impacto
        de processo formativo processo...Comecinho da pergunta aparece aqui
        resente relato inscreve-se no campo da análise da dimensão e impacto de
        processo formativo situado impacto de processo formativo processo...
      </p>
    </div>
    <div class="raw d-flex raw-footer-comments">
      <button class="button btn-more-info">
        <img
          class="img-fluid img-more-info"
          src="../../../assets/mais informações.png"
        />
      </button>
      <button class="button btn-like-comments">
        <img
          class="img-fluid like-btn-comments"
          src="../../../assets/green apples 22.png"
        />
      </button>
      <p class="p number-likes-comments">1 like</p>
      <p class="p number-likes-comments">1 resposta</p>
    </div>
  </div>
  <div class="raw d-flex spacer"></div>
</div>
